html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: url('/assets/images/login_bg.jpg') no-repeat center;
  background-size: cover;
}
.loginAndregBox {
  width: 400px;
  height: 310px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.loginAndregBox .title-box {
  height: 60px;
  background: url('/assets/images/login_title.png') no-repeat center;
}
.loginAndregBox .reg-box {
  display: none;
}
.loginAndregBox .links {
  display: flex;
  justify-content: flex-end;
}
.loginAndregBox .links a {
  font-size: 12px;
}
.layui-form {
  padding: 0 30px;
}
.layui-form-item {
  position: relative;
}
.layui-input {
  padding-left: 32px;
}
.layui-icon {
  position: absolute;
  top: 10px;
  left: 13px;
}
